<template>
  <div class="container">
    <header
      class="d-flex flex-wrap align-items-center justify-content-center py-3 mb-4 border-bottom w-100"
    >
      <ul class="nav col-12 col-md-auto mb-2 justify-content-start mb-md-0">
        <li>
          <router-link to="/users-list" class="nav-link px-2 link-dark"
            >Users
          </router-link>
        </li>
        <li></li>
      </ul>
    </header>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "AdminNavBar",
});
</script>
