<template>
  <div class="align-content-start">
    <b>Username:</b> {{ completedTraining.username }}<br />
    <b>Date:</b> {{ completedTraining.completedAt }}<br />
    <b>Training Type:</b> {{ completedTraining.type }}<br />
    <b>FatigueLevel:</b> {{ completedTraining.fatigueLevel }}<br />
    <b>Duration:</b> {{ completedTraining.timeInMillis }}<br />
    <b>Completed Exercises:</b> <br />
    <ul
      v-for="completedExercise in completedTraining.completedExercises"
      :key="completedExercise.id"
    >
      <li>
        {{ completedExercise.exercise.name }} -
        {{ completedExercise.reps }} reps
      </li>
    </ul>
    <b> Comments:</b> <br />
    <ul v-for="comment in completedTraining.comments" :key="comment.id">
      <li>
        {{ comment.username }} [{{ comment.date }}]: {{ comment.comment }}<br />
        <br />
      </li>
    </ul>
    <div class="align-content-center">
      <input type="text" v-model="comment" />
      <button
        type="button"
        class="btn btn-success"
        @click="addComment"
        style="margin: 3px"
      >
        Add Comment
      </button>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import StatsService from "@/services/StatsService";
import CompletedTraining from "@/types/CompletedTraining";
import moment from "moment";

export default defineComponent({
  name: "completed-training",
  data() {
    return {
      trainingId: +this.$route.params.id,
      completedTraining: {} as CompletedTraining,
      comment: "",
    };
  },
  methods: {
    fetchWorkoutPlanTemplate() {
      StatsService.fetchCompletedTraining(this.trainingId)
        .then((response) => {
          const { data: completedTraining } = response;
          completedTraining.completedAt = moment(
            completedTraining.completedAt,
            ["YYYY-MM-DDTHH:mm:ss.SSSZ"]
          ).format("YYYY-MM-DD HH:mm");
          completedTraining.comments = completedTraining.comments.map(
            (c: any) => {
              c.date = moment(c.date, ["YYYY-MM-DDTHH:mm:ss.SSSZ"]).format(
                "YYYY-MM-DD HH:mm"
              );
              return c;
            }
          );
          completedTraining.timeInMillis = moment(
            completedTraining.timeInMillis
          ).format("h[h] m [min]");
          this.completedTraining = completedTraining;
        })
        .catch((e: Error) => {
          console.log(e);
        });
    },
    addComment() {
      StatsService.addComment(this.trainingId, {
        id: null,
        comment: this.comment,
        username: localStorage.username,
        date: new Date(),
      })
        .then(() => {
          this.comment = "";
          this.fetchWorkoutPlanTemplate();
        })
        .catch((e: Error) => {
          console.log(e);
        });
      this.completedTraining.comments.push();
    },
  },
  beforeMount() {
    this.fetchWorkoutPlanTemplate();
  },
});
</script>
<style>
div.align-content-start {
  text-align: left;
}
</style>
