<template>
  <div class="submit-form">
    <div class="form-group">
      Training type:
      <select v-model="completedTraining.type">
        <option
          v-for="option in trainingTypes"
          :value="option.value"
          v-bind:key="option.value"
        >
          {{ option.displayName }}
        </option>
      </select>
    </div>
    <div class="form-group">
      Fatigue Level:
      <select v-model="completedTraining.fatigueLevel">
        <option
          v-for="option in fatigueLevels"
          :value="option.value"
          v-bind:key="option.value"
        >
          {{ option.displayName }}
        </option>
      </select>
    </div>
    <div>Exercises:</div>
    <div
      class="form-group"
      v-for="(completedExercise, index) in completedTraining.completedExercises"
      v-bind:key="index"
    >
      <select
        v-model="
          completedTraining.completedExercises[index].exercise_definition_id
        "
      >
        <option
          v-for="option in exercises"
          :value="option.id"
          v-bind:key="option.id"
        >
          {{ option.name }}
        </option>
      </select>
      reps:
      <input
        type="number"
        v-model.number="completedTraining.completedExercises[index].reps"
      />
      <button
        type="button"
        class="btn btn-light"
        @click="removeExercise(index)"
        v-if="completedTraining.completedExercises.length !== 1"
      >
        -
      </button>
      <button
        type="button"
        class="btn btn-light"
        @click="addExercise"
        v-if="index === completedTraining.completedExercises.length - 1"
      >
        +
      </button>
    </div>
    <button @click="submit" class="btn btn-success">Submit</button>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import StatsService from "@/services/StatsService";
import WorkoutDayService from "@/services/WorkoutDayService";
import ExerciseService from "@/services/ExerciseService";
import CompletedTraining from "@/types/CompletedTraining";
import CompletedExercise from "@/types/CompletedExercise";
import Exercise from "@/types/Exercise";

export default defineComponent({
  name: "complete-training",

  data() {
    return {
      completedTraining: {
        id: null,
        type: "",
        completedAt: new Date(),
        timeInMillis: 0,
        completedExercises: [
          { exercise_definition_id: -1 },
        ] as CompletedExercise[],
        fatigueLevel: "MEDIUM",
      } as CompletedTraining,
      trainingTypes: [],
      fatigueLevels: [],
      timePickerValue: "00:00",
      exercises: [] as Exercise[],
    };
  },
  methods: {
    submit() {
      if (this.completedTraining.type && this.completedTraining.fatigueLevel) {
        this.convertTimeToMillis();
        StatsService.saveCompletedTraining(this.completedTraining).then(() => {
          this.$router.push("/training-history");
        });
      } else {
        alert("Fill Training Type and Fatigue Level");
      }
    },
    convertTimeToMillis() {
      const strings = this.timePickerValue.split(":");
      const hours = parseInt(strings[0], 10) * 3600000;
      const minutes = parseInt(strings[1], 10) * 60000;
      this.completedTraining.timeInMillis = hours + minutes;
    },
    addExercise() {
      this.completedTraining.completedExercises.push({
        exercise_definition_id: -1,
      } as CompletedExercise);
    },
    removeExercise(index: number) {
      this.completedTraining.completedExercises.splice(index, 1);
    },
    fetchTrainingTypes() {
      StatsService.getTrainingTypes().then((response) => {
        this.trainingTypes = response.data;
      });
    },
    fetchFatigueLevels() {
      StatsService.getFatigueLevels().then((response) => {
        this.fatigueLevels = response.data;
      });
    },
    fetchExercises() {
      ExerciseService.fetchAllExercises().then((response) => {
        this.exercises = response.data;
      });
    },
  },
  beforeMount() {
    WorkoutDayService.fetchWorkoutDay(+this.$route.params.workoutDayId).then(
      (r) => {
        const { data } = r;
        this.completedTraining.completedExercises = data.exercises.map(
          (e: any) => ({
            exercise_definition_id: e.exerciseDefinition.id,
            reps: e.reps,
          })
        );
      }
    );
    this.fetchTrainingTypes();
    this.fetchFatigueLevels();
    this.fetchExercises();
  },
});
</script>

<style scoped>
.form-group {
  margin-bottom: 1rem;
}
</style>
