<template>
  <div class="submit-form">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        v-model="workoutPlanTemplate.name"
        name="username"
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        required
        v-model="workoutPlanTemplate.description"
        name="description"
      />
    </div>
    <div class="form-group">
      <select v-model="workoutPlanTemplate.complexity">
        <option
          v-for="option in complexity"
          :value="option.value"
          v-bind:key="option.value"
        >
          {{ option.displayName }}
        </option>
      </select>
    </div>
    <div
      v-for="(workoutDay, workoutDayIndex) in workoutPlanTemplate.workoutDays"
      :key="workoutDayIndex"
    >
      <div style="float: left">Day {{ workoutDayIndex + 1 }}:</div>
      <br />
      <div v-for="(exercise, index) in workoutDay.exercises" :key="index">
        <div class="form-group" id="container">
          <select v-model="exercise.exercise_definition_id">
            <option
              v-for="option in exercises"
              :value="option.id"
              v-bind:key="option.id"
            >
              {{ option.name }}
            </option>
          </select>
          reps:
          <input type="number" v-model.number="exercise.reps" />
          <button
            @click="deleteExercise(workoutDayIndex, index)"
            class="btn btn-close"
          ></button>
        </div>
      </div>
      <button @click="addExercise(workoutDayIndex)" class="btn btn-success">
        Add Exercise
      </button>
      <button
        @click="deleteWorkoutDay(workoutDayIndex)"
        class="btn btn-success"
      >
        Delete Workout Day
      </button>
    </div>
    <button @click="addWorkoutDay" class="btn btn-success">
      Add Workout Day
    </button>
    <button @click="submit" class="btn btn-success">Submit</button>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import Exercise from "@/types/Exercise";
import ExerciseService from "@/services/ExerciseService";
import WorkoutPlanTemplate from "@/types/WorkoutPlanTemplate";
import WorkoutPlanTemplatesService from "@/services/WorkoutPlanTemplatesService";
import CompletedExercise from "@/types/CompletedExercise";

export default defineComponent({
  name: "create-workout-plan-template",
  data() {
    return {
      workoutPlanTemplate: {
        id: null,
        name: "",
        description: "",
        complexity: "",
        workoutDays: [
          {
            exercises: [{ exercise_definition_id: -1 }] as CompletedExercise[],
          },
        ],
      } as WorkoutPlanTemplate,
      complexity: [],
      exercises: [] as Exercise[],
    };
  },
  methods: {
    submit() {
      if (
        this.workoutPlanTemplate.name &&
        this.workoutPlanTemplate.complexity
      ) {
        WorkoutPlanTemplatesService.save(this.workoutPlanTemplate).then(
          (response) => {
            this.$router.push({
              name: "workout-plan-template",
              params: {},
            });
          }
        );
      } else {
        alert("Select required fields");
      }
    },
    fetchComplexity() {
      ExerciseService.getComplexity().then((response) => {
        this.complexity = response.data;
      });
    },
    fetchExercises() {
      ExerciseService.fetchAllExercises().then((response) => {
        this.exercises = response.data;
      });
    },
    addExercise(index: number) {
      this.workoutPlanTemplate.workoutDays[index].exercises.push({
        exercise_definition_id: -1,
      } as CompletedExercise);
    },
    deleteExercise(workoutDayIndex: number, index: number) {
      this.workoutPlanTemplate.workoutDays[workoutDayIndex].exercises.splice(
        index,
        1
      );
    },
    deleteWorkoutDay(workoutDayIndex: number) {
      this.workoutPlanTemplate.workoutDays.splice(workoutDayIndex, 1);
    },
    addWorkoutDay() {
      this.workoutPlanTemplate.workoutDays.push({
        exercises: [{ exercise_definition_id: -1 }] as CompletedExercise[],
      });
    },
  },
  beforeMount() {
    this.fetchComplexity();
    this.fetchExercises();
  },
});
</script>

<style scoped>
.form-group {
  margin-bottom: 1rem;
}

.btn {
  margin: 2px;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
}
</style>
