<template>
  <div>
    <b>Name:</b> {{ exercise.name }}<br />
    <b>Description:</b>{{ exercise.description }}<br />
    <b>Complexity:</b>{{ exercise.complexity }}<br />
  </div>
</template>

<script lang="ts">
import Exercise from "@/types/Exercise";
import ExerciseService from "@/services/ExerciseService";
import { defineComponent } from "vue";

export default defineComponent({
  name: "exercise-detail",
  data() {
    return {
      exercise: {
        id: null,
        name: "",
        description: "",
        complexity: "",
        duration: 0,
      } as Exercise,
    };
  },
  methods: {
    async fetchExercise() {
      ExerciseService.fetchExercise(+this.$route.params.id).then((response) => {
        this.exercise = response.data;
      });
    },
  },
  beforeMount() {
    this.fetchExercise();
  },
});
</script>

<style scoped></style>
