<template>
  <div class="submit-form">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        required
        v-model="user.username"
        name="username"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        required
        v-model="user.password"
        name="password"
        v-on:keyup.enter="login"
      />
    </div>
    <button @click="login" class="btn btn-success">Login</button>
    <div style="display: flex; justify-content: center">
      <GoogleButton
        @click="loginWithGoogle"
        :buttonText="'Login with Google'"
      />
    </div>
  </div>
</template>
<script lang="js">
import { defineComponent } from "vue";
import AuthenticationService from "@/services/AuthenticationService";
import emitter from "@/system/emmiter";
import GoogleButton from "@/components/GoogleButton";

export default defineComponent({
  name: "login-user",
  components: { GoogleButton },
  data() {
    return {
      user: {
        id: null,
        username: "",
        password: "",
        enabled: true,
        authority: []
      }
    };
  },
  methods: {
    login() {
      this.handleLogin(this.user);
    },
    loginWithGoogle() {
      this.$gAuth.getAuthCode().then((response) => {
        AuthenticationService.loginGoogle(response).then(() => {
          this.$router.push("/");
          emitter.emit("login");
        })
          .catch((e) => {
            alert("You need to register first");
            console.log(e);
          });
      }).catch(error => {
        console.log(error);
      });
    },
    handleLogin(userInfo) {
      AuthenticationService.login(userInfo)
        .then(() => {
          this.$router.push("/");
          emitter.emit("login");
        })
        .catch((e) => {
          alert("Login failed");
          console.log(e);
        });
    }
  }
});
</script>
<style>
.form-group {
  margin-bottom: 1rem;
}
</style>
