<template>
  <table>
    <tr>
      <th>Name</th>
      <th>Completed trainings</th>
      <th>Workout Plan template</th>
    </tr>
    <tr v-for="pupil in pupils" :key="pupil.id">
      <td>{{ pupil.username }}</td>
      <td>{{ pupil.completedTrainings.length }}</td>
      <td>
        <select
          v-model="pupil.workoutPlanTemplate"
          v-if="!pupil.workoutPlanTemplateId"
        >
          <option
            v-for="option in workoutPlanTemplates"
            :value="option.id"
            v-bind:key="option.id"
          >
            {{ option.name }}
          </option>
        </select>
        <div v-else>
          {{
            workoutPlanTemplates.find(
              (w) => +w.id === +pupil.workoutPlanTemplateId
            )?.name
          }}
        </div>
      </td>
      <td v-if="!pupil.workoutPlanTemplateId">
        <button
          type="button"
          class="btn btn-primary"
          @click="assignWorkoutPlan(pupil.id, pupil.workoutPlanTemplate)"
        >
          Assign Workout Plan
        </button>
      </td>
    </tr>
  </table>
</template>

<script lang="ts">
import UserService from "@/services/UserService";
import { defineComponent } from "vue";
import WorkoutPlanTemplatesService from "@/services/WorkoutPlanTemplatesService";
import WorkoutPlanTemplate from "@/types/WorkoutPlanTemplate";

export default defineComponent({
  name: "pupils-list",

  data() {
    return {
      pupils: [],
      workoutPlanTemplates: [] as WorkoutPlanTemplate[],
    };
  },
  methods: {
    fetchAllPupils() {
      UserService.fetchAllPupils()
        .then((response) => {
          const { data: pupils } = response;
          this.pupils = pupils;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    fetchAllWorkoutPlanTemplates() {
      WorkoutPlanTemplatesService.fetchAllWorkoutPlanTemplates()
        .then((response) => {
          const { data: workoutPlanTemplates } = response;
          this.workoutPlanTemplates = workoutPlanTemplates;
        })
        .catch((e: Error) => {
          console.log(e);
        });
    },
    assignWorkoutPlan(pupils_id: number, wo: number) {
      WorkoutPlanTemplatesService.assignToUser(pupils_id, wo).then(() => {
        this.fetchAllPupils();
      });
    },
  },
  beforeMount() {
    this.fetchAllWorkoutPlanTemplates();
    this.fetchAllPupils();
  },
});
</script>
<style>
table {
  width: 100%;
}
</style>
