<template>
  <div class="submit-form">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        required
        v-model="user.username"
        name="username"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        required
        v-model="user.password"
        name="password"
        v-on:keyup.enter="register"
      />
    </div>
    <div class="form-group">
      <select v-model="user.authority[0]">
        <option
          v-for="option in authority"
          :value="option.value"
          v-bind:key="option.value"
        >
          {{ option.displayName }}
        </option>
      </select>
    </div>
    <button @click="register" class="btn btn-success">Sign up</button>
    <div style="display: flex; justify-content: center">
      <GoogleButton
        @click="registerWithGoogle"
        :buttonText="'Register with Google'"
      />
    </div>
  </div>
</template>
<script lang="js">
import { defineComponent } from "vue";
import AuthenticationService from "@/services/AuthenticationService";
import emitter from "@/system/emmiter";
import GoogleButton from "@/components/GoogleButton";

export default defineComponent({
  name: "register-user",
  components: { GoogleButton },
  data() {
    return {
      user: {
        id: null,
        username: "",
        password: "",
        authority: ["TRAINEE"]
      },
      authority: [
        {
          value: "TRAINER",
          displayName: "Trainer"
        },
        {
          value: "TRAINEE",
          displayName: "Trainee"
        }
      ]
    };
  },
  methods: {
    register() {
      this.handleRegister(this.user);
    },
    registerWithGoogle() {
      this.$gAuth.getAuthCode().then((response) => {
        AuthenticationService.registerGoogle(response).then(() => {
          this.$router.push("/");
          emitter.emit("login");
        })
          .catch((e) => {
            console.log(e);
          });
      }).catch(error => console.log(error));
    },
    handleRegister(userToRegister) {
      AuthenticationService.register(userToRegister)
        .then(() => {
          this.$router.push("/");
          emitter.emit("login");
        })
        .catch((e) => {
          console.log(e);
        });
    }
  }
});
</script>
<style scoped>
.form-group {
  margin-bottom: 1rem;
}
</style>
