<template>
  <div class="d-flex align-items-end justify-content-end" v-if="!username">
    <router-link to="/login">
      <button type="button" class="btn btn-outline-primary me-2">Login</button>
    </router-link>
    <router-link to="/register">
      <button type="button" class="btn btn-primary">Sign-up</button>
    </router-link>
  </div>
  <div class="d-flex align-items-end justify-content-end" v-else>
    <div class="col-sm-2 text-end">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-around mb-md-0">
        <li>
          <h4>{{ username }} ({{ authority }})</h4>
        </li>
        <li>
          <button type="button" class="btn btn-primary" @click="signOut">
            Sign-out
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div v-if="username">
    <AdminNavBar v-if="isAdmin()"></AdminNavBar>
    <TrainerNavBar v-else-if="isTrainer()"></TrainerNavBar>
    <TraineeNavBar v-else></TraineeNavBar>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import emmiter from "@/system/emmiter";
import TrainerNavBar from "@/components/TrainerMenu.vue";
import TraineeNavBar from "@/components/TraineeMenu.vue";
import AdminNavBar from "@/components/AdminMenu.vue";

export default defineComponent({
  name: "TabNavBar",
  components: { TrainerNavBar, TraineeNavBar, AdminNavBar },
  props: ["username", "authority"],
  methods: {
    signOut() {
      emmiter.emit("sign-out");
    },
    isTrainer() {
      return this.authority ? this.authority.includes("Trainer") : false;
    },
    isAdmin() {
      return this.authority ? this.authority.includes("Administrator") : false;
    },
  },
});
</script>
