<template>
  <div class="container">
    <header
      class="d-flex flex-wrap align-items-center justify-content-center py-3 mb-4 border-bottom w-100"
    >
      <ul class="nav col-12 col-md-auto mb-2 justify-content-start mb-md-0">
        <li>
          <router-link to="/trainer-list" class="nav-link px-2 link-dark"
            >Trainers
          </router-link>
        </li>
        <li>
          <router-link
            to="/workout-plan-template"
            class="nav-link px-2 link-dark"
            >Workout Plan Templates
          </router-link>
        </li>
        <li>
          <router-link to="/exercise" class="nav-link px-2 link-dark"
            >Create Exercise
          </router-link>
        </li>
        <li>
          <router-link to="/workout-plan" class="nav-link px-2 link-dark"
            >Workout Plan
          </router-link>
        </li>
        <li>
          <router-link to="/training-history" class="nav-link px-2 link-dark"
            >Training History
          </router-link>
        </li>
        <li></li>
      </ul>
    </header>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "TraineeNavBar",
});
</script>
