<template>
  <div v-if="trainingRequests.length === 0">No Pending Invitations</div>
  <table v-else>
    <tr>
      <th>Name</th>
    </tr>
    <tr v-for="trainingRequest in trainingRequests" :key="trainingRequest.id">
      <td>{{ trainingRequest.trainee.username }}</td>
      <td>
        <button
          type="button"
          class="btn btn-success"
          @click="acceptTrainee(trainingRequest.id)"
        >
          Accept
        </button>
        <button
          type="button"
          class="btn btn-danger"
          @click="rejectTrainee(trainingRequest.id)"
        >
          Reject
        </button>
      </td>
    </tr>
  </table>
</template>

<script lang="ts">
import TrainerAssignmentService from "@/services/TrainerAssignmentService";
import { defineComponent } from "vue";

export default defineComponent({
  name: "training-requests",

  data() {
    return {
      trainingRequests: [],
    };
  },
  methods: {
    fetchTrainingRequests() {
      TrainerAssignmentService.fetchTrainingRequest()
        .then((response) => {
          const { data: trainingRequests } = response;
          this.trainingRequests = trainingRequests;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    acceptTrainee(trainingRequestId: number) {
      TrainerAssignmentService.acceptTrainee(trainingRequestId).then(() => {
        this.fetchTrainingRequests();
      });
    },
    rejectTrainee(trainingRequestId: number) {
      TrainerAssignmentService.rejectTrainee(trainingRequestId).then(() => {
        this.fetchTrainingRequests();
      });
    },
  },
  beforeMount() {
    this.fetchTrainingRequests();
  },
});
</script>
