<template>
  <div class="container" style="align-items: center">
    <header
      class="d-flex flex-wrap align-items-center justify-content-center py-3 mb-4 border-bottom w-100"
    >
      <a
        href="/"
        class="d-flex align-items-start col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
      >
        <svg
          class="bi me-2"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        >
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-start mb-md-0">
        <li>
          <router-link to="/pupils-list" class="nav-link px-2 link-dark"
            >Pupils
          </router-link>
        </li>
        <li>
          <router-link to="/training-requests" class="nav-link px-2 link-dark"
            >Invitations
          </router-link>
        </li>
        <li>
          <router-link to="/trainer-list" class="nav-link px-2 link-dark"
            >Trainers
          </router-link>
        </li>
        <li>
          <router-link
            to="/workout-plan-template"
            class="nav-link px-2 link-dark"
            >Workout Plan Templates
          </router-link>
        </li>
        <li>
          <router-link to="/exercise" class="nav-link px-2 link-dark"
            >Create Exercise
          </router-link>
        </li>
        <li>
          <router-link
            to="/create-workout-plan-template"
            class="nav-link px-2 link-dark"
            >Create Workout Plan Template
          </router-link>
        </li>
        <li>
          <router-link to="/trainees-feed" class="nav-link px-2 link-dark"
            >Training Feed
          </router-link>
        </li>
        <li>
          <router-link to="/trainees-feed" class="nav-link px-2 link-dark">
          </router-link>
        </li>
        <li></li>
      </ul>
    </header>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "TrainerNavBar",
});
</script>
