<template>
  <table>
    <tr>
      <th>Name</th>
      <th>Completed trainings</th>
    </tr>
    <tr v-for="trainer in trainers" :key="trainer.id">
      <td>{{ trainer.username }}</td>
      <td>{{ trainer.completedTrainings.length }}</td>
      <td>
        <button
          v-if="!trainer.status"
          type="button"
          class="btn btn-primary"
          @click="selectTrainer(trainer.id)"
        >
          Request Trainer
        </button>
        <span v-if="trainer.status === 'PENDING'">
          You have pending request</span
        >
        <span v-if="trainer.status === 'ACCEPTED'"> Already your trainer </span>
      </td>
    </tr>
  </table>
</template>

<script lang="ts">
import UserService from "@/services/UserService";
import TrainerAssignmentService from "@/services/TrainerAssignmentService";
import { defineComponent } from "vue";

export default defineComponent({
  name: "trainer-list",

  data() {
    return {
      trainers: [],
    };
  },
  methods: {
    fetchAllTrainers() {
      UserService.fetchAllTrainers()
        .then((response) => {
          const { data: trainers } = response;
          this.trainers = trainers;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    selectTrainer(trainer_id: number) {
      TrainerAssignmentService.requestTrainer(trainer_id).then(() => {
        this.fetchAllTrainers();
        alert("Trainer request sent");
      });
    },
  },
  beforeMount() {
    this.fetchAllTrainers();
  },
});
</script>
<style>
table {
  width: 100%;
}
</style>
