<template>
  <table>
    <tr>
      <th>Training Type</th>
      <th>Duration</th>
      <th>Fatigue Level</th>
      <th>Date</th>
    </tr>
    <tr
      v-for="completedTraining in completedTrainings"
      :key="completedTraining.id"
    >
      <td>{{ completedTraining.type }}</td>
      <td>{{ completedTraining.timeInMillis }}</td>
      <td>{{ completedTraining.fatigueLevel }}</td>
      <td>{{ completedTraining.completedAt }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          @click="showDetails(completedTraining.id)"
        >
          Show Details
        </button>
      </td>
    </tr>
  </table>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import StatsService from "@/services/StatsService";
import moment from "moment";
export default defineComponent({
  name: "training-history",
  data() {
    return {
      completedTrainings: [],
    };
  },
  methods: {
    fetchTrainingHistory() {
      StatsService.fetchTrainingHistory()
        .then((response) => {
          this.completedTrainings = response.data.map(
            (completedTraining: any) => {
              completedTraining.completedAt = moment(
                completedTraining.completedAt,
                ["YYYY-MM-DDTHH:mm:ss.SSSZ"]
              ).format("YYYY-MM-DD HH:mm");
              completedTraining.timeInMillis = moment(
                completedTraining.timeInMillis
              ).format("hh [h]:mm [min]");
              return completedTraining;
            }
          );
        })
        .catch((e: Error) => {
          console.log(e);
        });
    },
    showDetails(id: number) {
      this.$router.push({
        name: "completed-training",
        params: { id },
      });
    },
  },
  beforeMount() {
    this.fetchTrainingHistory();
  },
});
</script>
<style>
table {
  width: 100%;
}
</style>
