<template>
  <table>
    <tr>
      <th>Name</th>
      <th>Enabled</th>
      <th>Authorities</th>
    </tr>
    <tr v-for="user in users" :key="user.id">
      <td>{{ user.username }}</td>
      <td>{{ user.enabled }}</td>
      <td>{{ user.authorities }}</td>
      <td>
        <button type="button" class="btn btn-danger" @click="banUser(user)">
          Ban
        </button>
        <button type="button" class="btn btn-success" @click="unbanUser(user)">
          Unban
        </button>
        <button
          type="button"
          class="btn btn-danger"
          @click="deleteUser(user.id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </table>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import AdminService from "@/services/AdminService";
import User from "@/types/User";

export default defineComponent({
  name: "users-list",

  data() {
    return {
      users: [] as User[],
    };
  },
  methods: {
    fetchAllUsers() {
      AdminService.fetchAllUsers()
        .then((response) => {
          const { data: users } = response;
          this.users = users;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    banUser(user: any) {
      user.enabled = false;
      AdminService.updateUser(user).then(() => {
        this.fetchAllUsers();
      });
    },
    unbanUser(user: any) {
      user.enabled = true;
      AdminService.updateUser(user).then(() => {
        this.fetchAllUsers();
      });
    },
    deleteUser(trainer_id: number) {
      AdminService.deleteUser(trainer_id).then(() => {
        this.fetchAllUsers();
      });
    },
  },
  beforeMount() {
    this.fetchAllUsers();
  },
});
</script>
<style>
table {
  width: 100%;
}
</style>
