<template>
  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Complexity</th>
    </tr>
    <tr
      v-for="workoutPlanTemplate in workoutPlanTemplates"
      :key="workoutPlanTemplate.id"
    >
      <td>{{ workoutPlanTemplate.name }}</td>
      <td>{{ workoutPlanTemplate.description }}</td>
      <td>{{ complexityMap.get(workoutPlanTemplate.complexity) }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          @click="showDetails(workoutPlanTemplate.id)"
        >
          Show Details
        </button>
      </td>
    </tr>
  </table>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import WorkoutPlanTemplatesService from "@/services/WorkoutPlanTemplatesService";
import ExerciseService from "@/services/ExerciseService";
import Complexity from "@/types/Complexity";

export default defineComponent({
  name: "workout-plan-templates",
  data() {
    return {
      workoutPlanTemplates: [],
      complexityMap: new Map(),
    };
  },
  methods: {
    fetchAllWorkoutPlanTemplates() {
      WorkoutPlanTemplatesService.fetchAllWorkoutPlanTemplates()
        .then((response) => {
          const { data: workoutPlanTemplates } = response;
          this.workoutPlanTemplates = workoutPlanTemplates;
        })
        .catch((e: Error) => {
          console.log(e);
        });
    },
    showDetails(id: number) {
      this.$router.push({
        name: "workout-plan-template-details",
        params: { id },
      });
    },
    populateComplexityMap() {
      ExerciseService.getComplexity().then((response) => {
        response.data.forEach((complexity: Complexity) => {
          this.complexityMap.set(complexity.value, complexity.displayName);
        });
      });
    },
  },
  beforeMount() {
    this.populateComplexityMap();
    this.fetchAllWorkoutPlanTemplates();
  },
});
</script>
<style>
table {
  width: 100%;
}
</style>
