<template>
  <div class="align-content-start">
    Name: {{ workoutPlanTemplate.name }}<br />
    Description: {{ workoutPlanTemplate.description }}<br />
    Complexity: {{ complexityMap.get(workoutPlanTemplate.complexity) }}<br />
    <ul
      v-for="(workoutDay, index) in workoutPlanTemplate.workoutDays"
      :key="workoutDay.id"
    >
      <li>
        Day {{ index + 1 }}:
        <ul v-for="exercise in workoutDay.exercises" :key="exercise.id">
          <li>
            <b>Name:</b> {{ exercise.exerciseDefinition.name }}
            <b>Description:</b>
            {{ exercise.exerciseDefinition.description }}
            <b>Repetitions:</b> {{ exercise.reps }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import WorkoutPlanTemplatesService from "@/services/WorkoutPlanTemplatesService";
import ExerciseService from "@/services/ExerciseService";
import Complexity from "@/types/Complexity";
export default defineComponent({
  name: "workout-plan-template-details",
  data() {
    return {
      workoutPlanTemplate: {
        id: null,
        name: "",
        description: "",
        complexity: "",
        workoutDays: [],
      },
      complexityMap: new Map(),
    };
  },
  methods: {
    fetchWorkoutPlanTemplate() {
      WorkoutPlanTemplatesService.fetchAllWorkoutPlanTemplate(
        +this.$route.params.id
      )
        .then((response) => {
          const { data: workoutPlanTemplate } = response;
          this.workoutPlanTemplate = workoutPlanTemplate;
        })
        .catch((e: Error) => {
          console.log(e);
        });
    },
    populateComplexityMap() {
      ExerciseService.getComplexity().then((response) => {
        response.data.forEach((complexity: Complexity) => {
          this.complexityMap.set(complexity.value, complexity.displayName);
        });
      });
    },
  },
  beforeMount() {
    this.populateComplexityMap();
    this.fetchWorkoutPlanTemplate();
  },
});
</script>
<style>
div.align-content-start {
  text-align: left;
}
</style>
