<template>
  <div class="align-content-start" v-if="workoutPlan.id">
    Name: {{ workoutPlan.name }}<br />
    Description: {{ workoutPlan.description }}<br />
    Complexity: {{ complexityMap.get(workoutPlan.complexity) }}<br />
    <ul
      v-for="(workoutDate, index) in workoutPlan.workoutDates"
      :key="workoutDate.id"
    >
      <li>
        {{ workoutDate.date }} - Day {{ index + 1 }}:
        <ul
          v-for="exercise in workoutDate.workoutDay.exercises"
          :key="exercise.id"
        >
          <li>
            <b>Name:</b> {{ exercise.exerciseDefinition.name }}
            <b>Description:</b>
            {{ exercise.exerciseDefinition.description }}
            <b>Repetitions:</b> {{ exercise.reps }}
          </li>
        </ul>
        <button
          @click="completeTraining(workoutDate.workoutDay)"
          class="btn btn-success"
          style="margin: 3px"
          v-if="workoutDate.date === getTodaysDate()"
        >
          Complete Training
        </button>
      </li>
    </ul>
  </div>
  <div v-else>You don't have any workout plan assigned.</div>
</template>
<script lang="js">
import { defineComponent } from "vue";
import WorkoutPlanService from "@/services/WorkoutPlanService";
import ExerciseService from "@/services/ExerciseService";

export default defineComponent({
  name: "workout-plan",
  data() {
    return {
      workoutPlan: {
        id: null,
        name: null,
        description: null,
        complexity: null,
        workoutDates: []
      },
      complexityMap: new Map()
    };
  },
  methods: {
    fetchWorkoutPlanTemplate() {
      WorkoutPlanService.fetchAllWorkoutPlan()
        .then((response) => {
          const { data: workoutPlan } = response;
          this.workoutPlan = workoutPlan;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    populateComplexityMap() {
      ExerciseService.getComplexity().then((response) => {
        response.data.forEach((complexity) => {
          this.complexityMap.set(complexity.value, complexity.displayName);
        });
      });
    },
    getTodaysDate() {
      let date = new Date();
      let day = date.getDate();
      let month = (date.getMonth() + 1).toString();
      let fullYear = date.getFullYear();
      const d = `${fullYear}-${month.length === 1 ? "0" + month : month}-${day}`;
      console.log(d);
      return d;
    },
    completeTraining(workoutDay) {
      this.$router.push({ name: "complete-training", params: { workoutDayId: workoutDay.id } });
    }
  },
  beforeMount() {
    this.populateComplexityMap();
    this.fetchWorkoutPlanTemplate();
  }
});
</script>
<style>
div.align-content-start {
  text-align: left;
}
</style>
