<template>
  <div id="app">
    <div v-if="!user.authority && user.username">
      It looks like you are logging in for the first time. Select Your role.
      <div class="form-group">
        <select v-model="newRole">
          <option
            v-for="option in authority"
            :value="option.value"
            v-bind:key="option.value"
          >
            {{ option.displayName }}
          </option>
        </select>
      </div>
      <button @click="submit" class="btn btn-success">Save</button>
    </div>
    <div
      v-if="(user.authority && user.authority.length !== 0) || !user.username"
    >
      <TabNavBar
        @login="getUserInfo"
        :username="user.username"
        :authority="user.authority"
      />
      <div class="container mt-3">
        <router-view />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import TabNavBar from "@/components/TabNavBar.vue";
import User from "@/types/User";
import UserService from "@/services/UserService";
import emitter from "@/system/emmiter";
import AuthenticationService from "@/services/AuthenticationService";

export default defineComponent({
  name: "App",
  components: { TabNavBar },
  data() {
    return {
      user: {
        id: localStorage.id,
        username: localStorage.username,
        authority: localStorage.authority,
      } as User,
      newRole: "TRAINEE",
      authority: [
        {
          value: "TRAINER",
          displayName: "Trainer",
        },
        {
          value: "TRAINEE",
          displayName: "Trainee",
        },
      ],
    };
  },
  methods: {
    getUserInfo() {
      UserService.getUserInfo().then((response) => {
        const { username, id } = response.data;
        localStorage.id = id;
        localStorage.username = username;
        localStorage.authority = response.data.authorities;
        this.user.id = localStorage.id;
        this.user.username = localStorage.username;
        this.user.authority = localStorage.authority;
      });
    },
    signOut() {
      AuthenticationService.signOut().then(() => {
        localStorage.clear();
        this.user.id = localStorage.id;
        this.user.username = localStorage.username;
        this.user.authority = localStorage.authority;
        this.$router.push({ name: "login" });
      });
    },
    submit() {
      UserService.assignRole(this.newRole).then(() => this.getUserInfo());
    },
  },
  mounted() {
    emitter.on("login", this.getUserInfo);
    emitter.on("sign-out", this.signOut);
  },
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
